[Desktop Entry]
Type=Service

Name=G-TMCE Extract
Name[tr]=G-TMCE Extract

Comment=Extract tracks, subtitles, chapters and attachments from media files
Comment[tr]=Medya dosyalarından parça, altyazı, chapter ve ek çıkar

ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel

MimeType=application/octet-stream;video/*;

Patterns=\
*.mkv;\
*.mk3d;\
*.mka;\
*.mks;\
*.webm;\
*.mp4;\
*.m4v;\
*.mov;\
*.avi;\
*.wmv;\
*.mpg;\
*.mpeg;\
*.ts;\
*.m2ts;\
*.mts

Icon=g-tmce

Actions=OpenMkvCreatorExtract;

[Desktop Action OpenMkvCreatorExtract]
Name=Open with G-TMCE Extract
Name[tr]=G-TMCE Extract ile Aç

Icon=g-tmce
Exec=g-tmce %F
